/*All browser reset*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /*Enforce inheritance of box-sizing to inherit it from plugins*/
    box-sizing: inherit;
}

html {
    /*Do not overrides browser or user default font size*/
    /*rem not supported by IE9*/
    font-size: 62.5%;  /* 10px / 16px = 62.5% */
}

body {
    /*Borders and padding not added to box width/height*/
    box-sizing: border-box;
}
